if loggedIn == true
	div.mb-3(style="text-align: right;")
		a.btn.btn-primary(href=`/editor/create`) Create new blog

each blog in blogs
	div.blog-list-entry-box
		h4
			a.blog-list-title(href=`/blog/article/${blog.internalTitle}`) #{blog.title}
		p.blog-list-summary.lead #{blog.summary}
		time Posted #{blog.dateString}
		if loggedIn == true
			div.container
				.row 
					.col
						a.btn.btn-link(href=`/editor/edit/${blog.internalTitle}`) Edit
					.col 
						form(action=`/editor/delete/${blog.internalTitle}`, method="post")
							button.btn.btn-link Delete
div.blog-list-nav
	- if (currentPage === 2) 
		a.btn.btn-secondary(href=`/blogs`) Previous Page
	- else if (currentPage > 2)
		a.btn.btn-secondary(href=`/blogs/page/${currentPage-1}`) Previous Page
	- if (lastPage === false) 
		a.btn.btn-secondary.blog-list-rtbtn(href=`/blogs/page/${currentPage+1}`) Next Page