doctype html
html
	head
		block head
			title= title
			block stylesheets
				link(rel='stylesheet', href='/css/material.min.css')
				link(rel='stylesheet', href='/css/common.css')
				link(rel='stylesheet', href='/css/blog-list.css')
			block scripts
				script(src="/js/material.min.js") 
	body
		include ../common/navbar
		main.mdl-layout__content.common-main
			div.mdl-grid.common-grid
				div.mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
				div.mdl-cell.mdl-cell--8-col
					div 
						label.common-label Search the blog:
						input.common-input(type="text", name="blogTitle", placeholder="Enter something... ")

					table.mdl-data-table.mdl-shadow--2dp
						thead 
							tr 
								td.mdl-data-table__cell--non-numeric Title
								td.mdl-data-table__cell--non-numeric Summary
								td.mdl-data-table__cell--non-numeric Date posted
						tbody 
						each blog in blogs
							tr 
								td.mdl-data-table__cell--non-numeric 
									a(href=`blog?title=${blog.internalTitle}`) #{blog.title}
								td.mdl-data-table__cell--non-numeric #{blog.subtitle} 
								td.mdl-data-table__cell--non-numeric #{blog.updatedAt}